@model IEnumerable<DiagnosticoDeMatematicas.Models.MultipleSelectionAnswer>

@{
    ViewBag.Title = "Lista de respuestas";
}

<h2>Lista de respuestas</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p>Se est usando esta página como prueba de que se pueden desplegar las respuestas dadas a cierta pregunta.</p>

@foreach (var item in Model)
{
    Html.RenderAction("Details", new { responseId = item.ResponseId, questionId = item.QuestionId });
}