@model DiagnosticoDeMatematicas.Models.Variable
<div id="variable@(Model.QuestionId)">
    @using (Ajax.BeginForm("Create", new {}, new AjaxOptions {HttpMethod = "Post", UpdateTargetId = $"variable{Model.QuestionId}", InsertionMode = InsertionMode.ReplaceWith}, new { @class = "form-inline"}))
    {
        @Html.HiddenFor(m => m.QuestionId)

        <div class="form-group">
            @Html.LabelFor(m => m.Symbol)
            @Html.EditorFor(m => m.Symbol)
        </div>
        <button type="submit" class="btn btn-primary">Crear</button>
    }
</div>