@model DiagnosticoDeMatematicas.Models.Variable

<tbody id="variable@(Model.QuestionId)@(Model.Symbol)">
    <tr>
        <td>@Model.Symbol</td>
        <td></td>
        <td></td>
        <td>@Ajax.ActionLink("Agregar rango", "Create", "Ranges", new { questionId = Model.QuestionId, symbol = Model.Symbol }, new AjaxOptions { InsertionMode = InsertionMode.ReplaceWith, UpdateTargetId = $"range{Model.QuestionId}{Model.Symbol}" })</td>
        <td>@Ajax.ActionLink("Eliminar variable", "Delete", "Variables", new { questionId = Model.QuestionId, symbol = Model.Symbol }, new AjaxOptions { UpdateTargetId = $"variable{Model.QuestionId}{Model.Symbol}", HttpMethod = "Post", InsertionMode = InsertionMode.ReplaceWith })</td>
    </tr>

    @foreach (var range in Model.Ranges)
    {
        Html.RenderAction("Details", "Ranges", new { range });
    }
    <tr id="range@(Model.QuestionId)@(Model.Symbol)"></tr>
</tbody>
