@using DiagnosticoDeMatematicas.Models
@model DiagnosticoDeMatematicas.Models.Exam

@{
    ViewBag.Title = Model.Name;
}

@Html.Action("DetailsPartial", new {examId = Model.ID})

<hr />
<h2>Preguntas</h2>
<p>
    @Ajax.ActionLink("Agregar pregunta", "CreateNew", "Questions", new { examId = Model.ID }, new AjaxOptions {UpdateTargetId = "newQuestion", InsertionMode = InsertionMode.ReplaceWith})
</p>

<div id="newQuestion"></div>
@foreach (var question in Model.Questions)
{
    if (question is MultipleSelectionQuestion)
    {
        Html.RenderAction("Details", "MultipleSelectionQuestions", new { questionId = question.Id });
    }
    else if (question is SingleSelectionQuestion)
    {
        Html.RenderAction("Details", "SingleSelectionQuestions", new { questionId = question.Id});
    }
    else
    {
        <p>ERROR</p>
    }
}
